* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* shared alinments */

.button-praimary {
    color: #fff;
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 1.15rem;
    font-weight: 400;
    padding: 18px 25px;
    border: none;
    cursor: pointer;
}

/* header section */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 235px;
}

/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 35px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.25rem;
}

nav li a:hover {
    border-bottom: 2px solid #7e7a7a;
}

.header-logo {
    font-size: 2.1rem;
    font-weight: 700;
}

/* banner section */
.banner-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15PX;
}

.banner-title {
    color: #131313;
    font-size: 3.7rem;
    font-weight: 700;
}

.banner-discription {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}

.banner-btn {
    margin-top: 20px;
}

.banner-img {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.banner-container {
    margin-top: 50px;
}

/* main section */
main {
    max-width: 1435px;
    margin: 70px auto;
}

/* team section */
.team-container {
    display: flex;
    align-items: center;

}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: 10px;
}

.team-text {
    padding: 0 75px;
}

/* team title style */
.quic-list {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

/* team taitle style end */

.team-discription {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}

.team-btn {
    margin-top: 32px;
}

/* fects card section */
.facts-title {
    color: #131313;
    font-size: 2.1rem;
    font-weight: 700;
    margin-top: 150px;
}
.facts-discription{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}
.cards-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
}
.cards-container .fect-cardes{
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.fect-cardes{
    padding: 35px 35px;
}
.fect-cards-tittle{
    font-size: 2.813rem;
    color: #424242;
    font-weight: 600;
}
.fect-cards-discription{
    font-size: 1rem;
    color: #727272;
    font-weight: 600;
}

/* media responsiv section */


/* media mobile responsiv */
@media screen and (max-width: 576px) {

    /* header section */
    nav {
        flex-direction: column;

    }

    header {
        padding: 10px;
    }

    nav li {
        margin-right: 20px;
        margin-top: 15px;
    }

    nav li a {
        font-size: 1rem;
    }

    .banner-title {
        color: #131313;
        font-size: 2.6rem;
        font-weight: 700;
    }

    .banner-discription {
        font-size: 0.9rem;
    }

    .button-praimary {
        padding: 15px 18px;
        font-size: 1rem;
        font-weight: 300;

    }

    /* team section */

    .team-container {
        flex-direction: column-reverse;
    }

    .team-img {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .team-btn {
        text-align: center;
        margin-top: 15px;
    }

    .team-text {
        padding: 0 20px;
        text-align: center;
    }

}

/* media tablet and midium device responsiv */
@media screen and (min-width: 576px) and (max-width: 960px) {

    /* header section */
    nav {
        flex-direction: column;
    }

    header {
        padding: 30px;
    }

    /* team section */
    .team-container {
        flex-direction: column-reverse;
    }

    .team-btn {
        text-align: center;
    }

    .team-img {
        gap: 5px;
        margin-top: 20px;
    }

}